body {
    position: relative;
    overflow-x: hidden;
    background-color: #24292e;
    background-image: url("../images/img.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body,
html {
    height: 100%;
}

h1,
p,
div {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

h3 {
    font-size: 1.5em;
    display: inline-block;
    font-weight: bold;
    margin: 5px 0 3px 0;
    padding: 6px 10px;
    color: white;
    background-color: rgba(36, 41, 46, 0.5);
    border-radius: 5px;
}

h2 {
    display: inline-block;
}

h3.main-heading {
    font-size: 2em;
    color: black;
    background: none;
}

h4 {
    font-size: 16px;
    margin: 0;
    color: grey;
}

.btn>a {
    text-decoration: none;
    color: inherit;
}

.comments-count {
    margin-top: 8px;
    padding-top: 2px;
}

.comments-count .badge {
    border-radius: 5px;
    padding: 5px 10px;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/images/loading.gif') 50% 50% no-repeat rgba(250, 250, 250, 0.95);
}

#content {
    margin: 100px 10% 0 10%;
    overflow: hidden;
}


/*#content #comments .panel-body {
    background-color: lightgray;
}*/

.main-nav-panel {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.header-info {
    background-color: #24292e;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-info>a>h1 {
    display: inline-block;
    font-family: consolas, sans-serif;
    font-size: 20px;
    color: lightgrey;
    padding: 10px 0 10px 20px;
}

.header-info p {
    /*display: inline-block;*/
    padding: 5px 20px;
    color: #666;
    background-color: #e0e0e0;
}

.panel {
    margin: 0 0 5px 0;
    border: none;
    border-radius: 0;
    background: transparent;
}

.panel-body {
    padding: 5px 20px 15px 20px;
    background-color: rgba(250, 250, 250, 0.95);
}

.panel-heading {
    opacity: 0.7;
    padding: 9px 20px;
    border: none;
    z-index: 10;
}

.panel-footer {
    padding: 5px 20px;
    background-color: rgba(252, 252, 252, 0.9);
    border: none;
}

#single-post .panel-body,
.comments-panel .panel-body {
    padding: 20px 20px;
}

#all-posts-sortable {
    margin: 0;
    padding: 0;
}

.form-group>label {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    color: white;
    text-shadow: 3px 3px 2px #1c1c1c;
}

.form-group>small {
    color: white;
}


/*#login-panel {
    display: none;
}

#register-panel {
    display: none;
}*/

#login-button,
#logout-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 6px;
}

#login-info {
    position: absolute;
    top: 0;
    right: 100px;
    margin: 6px;
    background-color: #24292e;
    color: grey;
}

#hide-form,
#btn-back,
#btn-go-home {
    position: absolute;
    right: 0;
    bottom: 0;
}

.add-new-thread {
    float: right;
    position: relative;
    top: -2px;
    right: 3px;
    display: block;
    margin: 6px 0 5px 5px;
    padding: 4px 15px;
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 50;
}

.add-new-comment,
.edit-post,
.delete-post,
.home-from-single-post {
    float: right;
    /*display: block;*/
    /*font-size: 1.8rem;*/
    /*font-weight: bold;*/
    /*position: relative;
    top: 38px;
    right: 3px;*/
    margin: 5px;
    padding: 4px 15px;
    z-index: 60;
}

#comments .panel-title {
    display: inline-block;
}

#comments .edit-comment,
#comments .delete-comment {
    float: right;
    margin: 0 0 0 5px;
}

#editor-title {
    text-align: center;
}

#tb-thread-title {
    width: 100%;
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

div.justified {
    display: flex;
    justify-content: center;
}

#forum-title {
    text-decoration: none;
}

.fb-page {
    padding-bottom: 3%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 5px 0 0 0;
    background-color: #e0e0e0;
    margin-top: 25px;
}