<div class="contacts-panel panel panel-default">
    <div class="panel-heading">
        <h3>Team Mango - Telerk</h3>
    </div>
    <div class="panel-body">
        <h2>Team members</h2>
        <table>
            <col width="130">
            <tr>
                <td><strong>ZachD </strong></td>
                <td><a class="btn btn-info" href="https://telerikacademy.com/Users/ZachD">Zahari Dimitrov</a></td>
            </tr>
            <tr>
                <td><strong>Lamma </strong></td>
                <td><a class="btn btn-warning" href="http://telerikacademy.com/Users/Lamma">Lilyana Babacheva</a></td>
            </tr>
            <tr>
                <td><strong>sunshinet </strong></td>
                <td><a class="btn btn-success" href="http://telerikacademy.com/Users/sunshinet">Tanya Dimitrova</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Contact us</h3>
    </div>
    <div class="panel-body contact-form">
        <form id="contact" action="mailto:zahari_d@abv.bg" method="post" enctype="text/plain" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required autofocus />
                </div>
                <div class="col-xs-6 col-md-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
                </div>
            </div>
            <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
            <br />
            <div class="row">
                <div class="col-xs-12 col-md-12 form-group">
                    <a href="#/home" class="btn btn-info"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> back to home</a>
                    <input class="submit-cintact btn btn-primary" type="submit" name="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>