
<div class="new-post-block">
    <h2 id="editor-title">New post</h2>
    <form id="post-form" method="post">
        <ul class="title-author">
            <li class="single-element-form">
                <h1 class="title-form">{{title}}</h1>
                <div class="justified">
                    <input type="text" value="" placeholder="Title" id="tb-thread-title"/></div>
            </li>
            <li class="single-element-form">
                <h1 class="title-form">{{author}}</h1>

                <br/> <div class="justified">created by{{author}}</div>
                <div class="justified">
                <textarea name = 'content' class="content-field" placeholder="Content" id="post-content-field"></textarea>
                </div>
            </li>
        </ul>

        <br>
        <div class="justified">
            <button type="button" id="create-new-post-request-button">Publish</button></div>
    </form>
</div>
<script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=6ab5v9vrn0ox7oz8zwgdlo18wlbxwj76pvwott8ywmnlwdve'></script>
<script>
tinymce.init({
selector: '#post-content-field',
    theme: "modern",
    width: 1000,
    height: 200,
    plugins: [
        "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
        "save contextmenu directionality emoticons template paste textcolor"
    ],
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons",
    style_formats: [
        {title: 'Bold text', inline: 'b'},
        {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
        {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
        {title: 'Example 1', inline: 'span', classes: 'example1'},
        {title: 'Example 2', inline: 'span', classes: 'example2'}
    ]
});
</script>