<nav class="main-nav-panel" id="login-panel">
    <div id="container-sign-in">
        <h3>// login or register a new user</h3>
        <form>
            <div class="form-group">
                <label for="tb-username">Username:</label>
                <input type="text" placeholder="username" id="tb-username" class="form-control">
                <label for="tb-password">Password:</label>
                <input type="password" placeholder="password" id="tb-password" class="form-control">
            </div>
            <button id="btn-sign-in" class="btn btn-success">login</button>
            <a href="#/register" id="btn-register-new" class="btn btn-primary">register</a>
            <a href="#/home" id="btn-go-home" class="btn btn-info"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> back to home page</a>
        </form>
    </div>
    <div id="container-sign-out">
        {{!--<a href="#/posts/edit" id="btn-list-users" class="btn btn-info">edit posts</a>--}}
    </div>
</nav>